p {
    font-family: Arial, sans-serif;
}

.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    text-align: center;
    width: 230px;
}

.product-image {
    width: 229px;
    height: 350px;
}

.product-title {
    font-size: 13px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

.product-main-title {
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.number-of-favourite-additions {
    font-size: 12px;
    color: #666;
}

.number-of-reviews {
    font-size: 12px;
    color: #666;
}

.search-button {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 40px;
    width: 100%;
    max-width: 598px;
    border: none;
    background-color: rgb(243,243,243);
    padding-top: 10px;
    padding-bottom: 10px;
    word-spacing: 0px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.search-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
